body {
  background-color: #efefef;
  font-family: Trebuchet MS, sans-serif;
}

header, .container, #tasks {
  width: 1000px;
  margin: 0 auto;
}

header {
  padding: 5px 0;
  text-align: center;
  color: #777;
}

code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.container {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 1px 0;
}
.container form {
  text-align: center;
  padding: 10px 0;
}
.container input {
  font-size: 18px;
  width: 600px;
  padding: 5px;
}
#tasks p {
  color: #666;
}
#tasks li {
  line-height: 30px;
}
#tasks li.completed {
  color: #666;
  text-decoration: line-through;
}